---
Checks:          '-*,cert-*,-clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-*,modernize-,-modernize-use-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*\.h$'
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            clausklein
CheckOptions:
...

