*.d
*.dSym
*.orig
*~
.*.swp
.*~
.DS_Store
.configure
ClonableBase
CloneShapes
EreaseRemoveIdiom
GNUmakefile
InnerClassIdiom
NonVirtualBaseClassTest
PostInitialize
Pythagorean_triple
SFINAE-cxx11
bitset
byteorder
chainOfResponsibility
clone
collate
command-pattern
compile_commands.json
copy
copy-test
copy_stdio
delegate-pattern
dependency-injection
endlessloop
example-style
exceptions
factory_function
filebuff
filepath
friend-class
getaddrinfo
getline
hash
konto
l1083
map
nested-classes
permissive
point
priority_queue
result_of
set2
sets
sorted_map
sorted_set
stripws
test_filbuf
test_gcount
test_iomanip
test_rdbuf
testclock
testiostream
teststdio
timevalue
trim_example
unordered_map
unordered_set
vector
vokable2
volatile
