*.d
*.dSym
*.orig
*~
.*.swp
.*~
.DS_Store
EreaseRemoveIdiom
InnerClassIdiom
NonVirtualBaseClassTest
SFINAE-cxx11
bitset
byteorder
chainOfResponsibility
collate
command-pattern
copy
copy-test
copy_stdio
delegate-pattern
dependency-injection
exceptions
filebuff
filepath
friend-class
getaddrinfo
getline
hash
konto
l1083
map
nested-classes
permissive
point
priority_queue
result_of
set2
sets
sorted_map
sorted_set
stripws
test_filbuf
test_gcount
test_iomanip
test_rdbuf
testclock
testiostream
teststdio
timevalue
trim_example
unordered_map
unordered_set
vector
vokable2
volatile
