*.orig
*.dSym
*.d
*~
.*~
.*.swp
.DS_Store
NonVirtualBaseClassTest
bitset
byteorder
copy
copy_stdio
exceptions
filebuff
getaddrinfo
getline
hash
konto
map
point
set2
sets
sortedset
stripws
test_filbuf
test_gcount
test_iomanip
test_rdbuf
testclock
testiostream
teststdio
timevalue
trim_example
unorderedmap
vector
vokable2
